/* Palette colori 
#F6F8F9; light-grey sfondo
#47ADF1; blue label
#9C72E4; purple label
#64C0A9; green label
#F29E33; orange label
#D863A1; pink label
#B0C926; green label
#BDE5DC; green check mark box OK
#F6B9B6; red cross
-------------------------------- */

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    width: 80%;
    border: 2px solid red;
    margin: 0 auto;
}

 /* Font del body */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}




.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }