/* Palette colori 
#F6F8F9; light-grey sfondo
#47ADF1; blue label
#9C72E4; purple label
#64C0A9; green label
#F29E33; orange label
#D863A1; pink label
#B0C926; lightgreen label
#70C5B1; green check mark box OK
#F6B8B5; red cross
-------------------------------- */

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  /* border: 2px solid red; */
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

main {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #F6F8F9;

}

/* Font del body */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Header */
header {
  height: 80px;
  background-color: white;
}

#logo img,
h1 {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
}

header img {
  padding-left: 30px;
}

h1 {
  font-size: 3em;
}

/* ---------- End header ------------ */

/* -------- Sezione pulsanti --------- */
#nav {
  padding-left: 40px;
  border-bottom: 2px solid #F6F8F9;
  ;
}

#nav button {
  margin: 3px;
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: #47ADF1;
}

button#active {
  background-color: #47ADF1;
}

button#deselected {
  margin-left: 5px;
  background-color: white;
  color: #b6d6e6;
  border: 2px solid #ccdce4;
}

/* --------- End sezione pulsanti --------- */

/* Sezione main */
.toboolist {
  margin: 40px;
}

p {
  margin-top: 15px;
  margin-bottom: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.circle-check {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 19px;
  border-radius: 50%;
  border: 2px solid #70C5B1;
  color: #70C5B1;
  font-size: 11px;
  font-weight: 900;
}

.cross-check {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 19px;
  border-radius: 50%;
  border: 2px solid #F6B8B5;
  color: #F6B8B5;
  font-size: 11px;
  font-weight: 900;
}

/* Label del menu */
.label-list {
  height: 20px;
  padding: 5px 15px;
  border-radius: 30px;
  color: white;
}
.blue {
  background-color: #47ADF1;
}

.purple {
  background-color: #9C72E4;;
}

.green {
  background-color: #64C0A9;
}

.orange {
  background-color: #F29E33;
}

.pink {
  background-color: #D863A1;
}

.light-green {
  background-color: #B0C926;
}